@import "tailwindcss";

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  /* color: #ffee83; */
  font-family: var(--font-poppins), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

